<div class="introduce">
  <div class="introduce-header">
    <div class="introduce-title">
      <div class="title-1">HEXCHANGE LÀ GÌ ?</div>
      <p>Hexchange là hệ thống trao đổi và mua bán tiền ảo trung gian giữa người mua và người bán. Hệ thống được
        xây dựng dựa trên những công nghệ mới nhất như:
        <a href="https://angular.io/">Angular 4+</a>,
        <a href="https://laravel.com/docs/5.6">Laravel 5</a>,
        <a href="https://www.rabbitmq.com/">RabbitMQ</a> .
      </p>
      <p>Với bộ khớp lệnh (Trading System) thông minh, các Trader tham gia vào HexChange chỉ cần đặt các lệnh mua
        và bán theo nhu cầu và không phải trực chờ những đối tác của mình online trên hệ thống. </p>
    </div>
    <div class="introduce-body">
      <div class="title-1">LỢI ÍCH KHI LÀ TRADER</div>
      <p>Tham gia vào hệ thống và trở thành một Trader thực thụ, bạn sẽ cảm thấy bất ngờ với những lợi ích
        dưới đây mà hệ thống đem lại cho người dùng:
      </p>
      <div class="body-details">
        <div class="body-icon">
          <i class="fas fa-check-square"></i>
        </div>
        <div class="body-content">
          <ul class="body-benefit">
            <li>
              <p>Dễ Dàng Đặt Lệnh Mua(BUY) và Bán(SELL) Trên Hệ Thống</p>
            </li>
            <li>
              <p>Được Hỗ Trợ Các Phương Thức Thanh Toán Nhanh Chóng, An Toàn</p>
            </li>
            <li>
              <p>Hiểu Rõ Thị Trường Thông Qua Các OrderBook, Biểu Đồ Giá, Trade History</p>
            </li>
            <li>
              <p>Bảo Mật Dữ Liệu Và Thông Tin Cá Nhân</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="become-title">
        <p>Trở thành một Trader ngay lập tức để nhận được những lợi ích mà HexChange đem lại. Các bước để trở
          thành một Trader: </p>
      </div>
      <div class="become-trader">
        <div class="body-icon">
            <i class="far fa-hand-point-right"></i>
        </div>
        <div class="body-content">
          <ul class="become-content">
            <li>
              <a class="a-fix" routerLink="/register">ĐĂNG KÝ TÀI KHOẢN</a>
            </li>
            <li>
              <a class="a-fix" routerLink="/login">ĐĂNG NHẬP - Khi Đã Có Tài Khoản</a>
            </li>
            <li>
              <p>CHỌN PHƯƠNG THỨC THANH TOÁN</p>
            </li>
            <li>
              <p>ĐẶT LỆNH MUA - BÁN</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>