<div class="login-container">
  <div class="login-form">
    <div class="login-content">
      <div class="login-content-fix">
        <div class="login-title">
          <label> Đăng Nhập HexChange </label>
        </div>
        <div class="login-third-party">
          <div class="login-third-party-content facebook">
            Facebook 
          </div>
          <div class="login-third-party-content google">
            Google 
          </div>
        </div>
        <div class="login-directly">
          <form [formGroup]="loginForm" #formDir="ngForm">
            <div class="form-group">
              <label for="email">Địa Chỉ Email:</label>
              <input id="email" class="form-control" formControlName="email" required>
              <div *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)" class="alert alert-danger">
                <div *ngIf="loginForm.get('email').errors.required">
                  Email is required !
                </div>
                <div *ngIf="loginForm.get('email').errors.minlength">
                  Email must be at least 12 characters long.
                </div>
                <div *ngIf="loginForm.get('email').errors.forbiddenEmail">
                  Email cannot be Script.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Mật Khẩu: </label>
              <input id="password" class="form-control" formControlName="password" required>
              <div *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)" class="alert alert-danger">
                <div *ngIf="loginForm.get('password').errors.required">
                  Password is required !
                </div>
              </div>
            </div>
            <div class="login-captcha">
                <re-captcha #captchaRef="reCaptcha" (resolved)="resolved($event)" siteKey="6LfnMFoUAAAAAJM66aKC8s31NhzTZD-fK3Jt5zWt"></re-captcha>
            </div>
            <div class="login-button">
              <button type="submit" class="btn btn-default" >Đăng Nhập</button>
              <button type="button" class="btn btn-default" >Hủy</button>
            </div>
          </form>
          <div class="login-footer">
            <div class="login-footer-content forgot-password">
              <a href="#">Forgot Password ?</a>
            </div>
            <div class="login-footer-content create-account">
              <a routerLink="/register">Creat Account</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>