.order-book-container {
    display: flex;
    width: 100%;
    font-family: 'Nunito', sans-serif;
}
.order-book-fix{
    flex: 1;
    padding: 15px 5px 10px 5px;
}

.order-book-title{
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}
.buy-title {
    color: #42A948;
}
.sell-title { 
    color: #ff5722;
}
.order-sell-content, .order-buy-content {
    display: flex;
}
.order-body {
    flex: 1;
}
.order-title {
    color: white;
    font-size: 12px;
    text-align: center;
}