<div class="register-container">
  <div class="register-form">
    <div class="register-content">
      <div *ngIf="!message" class="register-content-fix">
        <div class="register-title">
          <label>Create an Account to enjoy HexChange</label>
        </div>
        <div class="register-directly">
          <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" #formDir="ngForm">
            <div class="form-group">
              <label for="name">Nick Name: </label>
              <input id="name" class="form-control" formControlName="name" required>
              <div *ngIf="registerForm.get('name').invalid && (registerForm.get('name').dirty ||registerForm.get('name').touched)" class="alert alert-danger">
                <div *ngIf="registerForm.get('name').errors.required">
                  You must have Nick Name!
                </div>
                <div *ngIf="registerForm.get('name').errors.minlength">
                  Name must be at least 4 characters long.
                </div>
                <div *ngIf="registerForm.hasError('invalidValue', 'name')">
                  Invalid Name !
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Your Email</label>
              <input id="email" class="form-control" formControlName="email" required>
              <div *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)"
                class="alert alert-danger">
                <div *ngIf="registerForm.get('email').errors.required">
                  Email is required !
                </div>
                <div *ngIf="registerForm.get('email').errors.minlength">
                  Email must be at least 12 characters long.
                </div>
                <div *ngIf="registerForm.get('email').errors.email">
                  Invalid Email !
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="phone_number">Phone Number</label>
              <input id="password" class="form-control" formControlName="phone_number" required>
              <div *ngIf="registerForm.get('phone_number').invalid && (registerForm.get('phone_number').dirty || registerForm.get('phone_number').touched)"
                class="alert alert-danger">
                <div *ngIf="registerForm.get('phone_number').errors.required">
                  Phone Number is required !
                </div>
                <div *ngIf="registerForm.hasError('invalidPhone', 'phone_number')">
                  Please put invalid Phone Number !
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="registerForm.get('country_code')">Country Code</label>
              <input id="password" class="form-control" formControlName="country_code" required>
              <div *ngIf="registerForm.get('country_code').invalid && (registerForm.get('country_code').dirty || registerForm.get('country_code').touched)"
                class="alert alert-danger">
                <div *ngIf="registerForm.get('country_code').errors.required">
                  Country Code is required !
                </div>
                <div *ngIf="registerForm.hasError('invalidCode', 'country_code')">
                  Please put invalid Country Code !
                </div>
              </div>
            </div>
            <div class="pw" formGroupName="pw">
              <div class="form-group">
                <label for="password">Password</label>
                <input id="password" class="form-control" formControlName="password" required>
                <div *ngIf="registerForm.get('pw.password').invalid && (registerForm.get('pw.password').dirty || registerForm.get('pw.password').touched)"
                  class="alert alert-danger">
                  <div *ngIf="registerForm.get('pw.password').errors.required">
                    Password is required !
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="confirm_password">Confirm Password</label>
                <input id="confirm_password" class="form-control" formControlName="confirm_password" required>
                <div *ngIf="registerForm.get('pw.confirm_password').invalid && (registerForm.get('pw.confirm_password').dirty || registerForm.get('pw.confirm_password').touched)"
                  class="alert alert-danger">
                  <div *ngIf="registerForm.get('pw.confirm_password').errors.required">
                    Confirm password is required !
                  </div>
                </div>
              </div>
              <div class="alert alert-danger" *ngIf="registerForm.hasError('passnotmatch', ['pw']) ">
                Password does not match!
              </div>
            </div>
            <div class="register-button">
              <button [disabled]="!registerForm.valid" type="submit" class="btn btn-default">Submit</button>
              <button type="button" class="btn btn-default">Cancel</button>
            </div>
          </form>
        </div>
        <div class="register-footer">
          <a routerLink="/login">Have an Account ?</a>
        </div>
      </div>
      <app-alert-message></app-alert-message>
    </div>
  </div>
</div>