<div class="footer-container">
  <div class="footer-get-start footer-fix">
    <div class="get-start-text">
      <div class="text-title">
        <span class="text-fix">Get Started</span>
      </div>
      <div class="text-content">
        <span class="text-fix">Creat your account to access HexChange Platform and perform your trading. Simpy login, You will see trade and rule
          in HexChange Platform
        </span>
      </div>
    </div>
    <div class="get-start-direct">
      <a class="btn btn-primary btn-lg" routerLink="/register">Creat Your Account</a>
    </div>
  </div>
  <div class="footer-social footer-fix">
      <div class="inner-footer">
          <div class="text-title">
              <span class="text-fix">Social</span>
            </div>
          <ul class="social-content">
              <li class="facebook">
                  <a href="#" target="_blank"><span class="icon"><i class="fa fa-facebook"></i></span>
                      <span>facebook</span></a>
              </li>
              <li class="twitter">
                  <a href="" target="_blank"><span class="icon"><i class="fa fa-twitter"></i></span>
                      <span>twitter</span></a>
              </li>
              <li class="google-plus">
                  <a href="#" target="_blank"><span class="icon"><i class="fa fa-google-plus"></i></span>
                      <span>google+</span></a>
              </li>
          </ul>
      </div>
  </div>
</div>