.footer-container {
    width: 100%;
    display: flex;
    background: #162126;
    height: 300px;
}
.footer-fix {
    flex-basis: 50%;
    margin: 0 10px;
    padding: 20px 20px;
}
.get-start-text {
    height: 160px;
    color: #f6d709;    
    font-family: Montserrat,Rubik,sans-serif;
    align-items: center;
}
.text-title {
    font-size: 36px;
    padding: 10px 50px;
}
.text-fix{
    display: block;
    text-align: center;
}
.text-content {
    padding: 0 20px;
    font-family: 'Nunito', sans-serif;
}
.get-start-direct {
    padding-bottom: 60px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
.footer-social {
    color: white;
}
/* Fix button color */
.btn-primary:hover {
    color: #fff;
    background-color: #ff1111 !important;
    border-color: #ff1111 !important;
}
.footer-right {
    display: flex;
}
.btn-primary {
    color: #fff;
    background-color: #ff5722;
    border-color: #ff5722;
}
ul {
  list-style: none;  
}
a {
    text-decoration: none;
}
.social-content {
    flex: 1;
    padding: 10px 20px 10px 20px;
    font-size: 24px;
}
.facebook {
    padding: 10px 0 10px 0;
    color: blue !important;
}
.twitter {
    padding: 10px 0 10px 0;
    color: turquoise !important;
}
.google {
    padding: 10px 0 10px 0;
    color: red !important;
}
.fab {
    padding-right: 15px;
}
.footer-contact {
    flex: 1;
    text-align: center;
    padding-top: 60px;
    padding-right: 50px;
    font-size: 18px;
}
