<div class="footer-container">
  <div class="footer-get-start footer-fix">
    <div class="get-start-text">
      <div class="text-title">
        <span class="text-fix">Tham Gia Vào HexChange</span>
      </div>
      <div class="text-content">
        <span class="text-fix">Tạo 1 Tài Khoản Cho Riêng Bạn Để Trở Thành Một Trader Trong Hệ Thống.
          Sau Khi Đăng Nhập, Bạn Sẽ Thấy Được Toàn Cảnh Diễn Biến Của Thị Trường.
        </span>
      </div>
    </div>
    <div class="get-start-direct">
      <a class="btn btn-primary btn-lg" routerLink="/register">Tạo Tài Khoản</a>
    </div>
  </div>
  <div class="footer-social footer-fix">
      <div class="inner-footer">
          <div class="text-title">
              <span class="text-fix">Contact Us</span>
            </div>
          <ul class="social-content">
              <li class="facebook">
                  <a href="#" target="_blank"><span class="icon"><i class="fa fa-facebook"></i></span>
                      <span>Facebook</span></a>
              </li>
              <li class="twitter">
                  <a href="" target="_blank"><span class="icon"><i class="fa fa-twitter"></i></span>
                      <span>Twitter</span></a>
              </li>
              <li class="google-plus">
                  <a href="#" target="_blank"><span class="icon"><i class="fa fa-google-plus"></i></span>
                      <span>Google+</span></a>
              </li>
          </ul>
      </div>
  </div>
</div>