<div class="doc-container">
  <div class="doc-body">
    <div class="doc-sidebar">
      <div class="sidebar-content">
        <label class="doc-title">GIỚI THIỆU</label>
        <ul class="ul-fix">
          <li class="doc-target" > 
            <a routerLink="/doc/about" routerLinkActive="selected">Giới Thiệu HexChange</a>
          </li>
          <li class="doc-target">
            <a routerLink="/doc/guide" routerLinkActive="selected">Hướng Dẫn Giao Dịch</a>
          </li>
          <li class="doc-target">
            <a routerLink="/doc/api-access" routerLinkActive="selected">Hướng Dẫn Biểu Đồ</a>
          </li>
          <li class="doc-target">
            <a routerLink="/doc/fee" routerLinkActive="selected">Các Khoản Phí</a>
          </li>
        </ul>
        <label class="doc-title">CHI TIẾT API</label>
        <ul class="ul-fix">
          <li class="doc-target">
            <a routerLink="/doc/general" routerLinkActive="selected">Phân Cấp API</a>
          </li>
          <li class="doc-target">
            <a routerLink="/doc/get" routerLinkActive="selected">API Cần Xác Thực</a>
          </li>
          <li class="doc-target">
            <a routerLink="/doc/post" routerLinkActive="selected">API Không Xác Thực</a>
          </li>
        </ul>
        <label class="doc-title">BẢO MẬT</label>
        <ul class="ul-fix">
          <li class="doc-target">
            <a routerLink="/doc/authen" routerLinkActive="selected">Cơ Chế Xác Thực</a>
          </li>
          <li class="doc-target">
            <a routerLink="/doc/backup" routerLinkActive="selected">Back-up Dữ Liệu</a>
          </li>
          <li class="doc-target">
            <a routerLink="/doc/sercure" routerLinkActive="selected">Bảo Mật Ví</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="doc-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>