<div class="order-form-container">
  <form class="order-form-submit">
    <ul class="order-form-type">
      <li class="order-form-type-content">MARKET</li>
      <li class="order-form-type-content">LIMIT</li>
      <li class="order-form-type-content">STOP</li>
    </ul>
    <ul class="order-form-side">
      <li class="order-form-side-content order-buy">BUY</li>
      <li class="order-form-side-content order-sell">SELL</li>
    </ul>
    <div class="order-form-amount">
      <div class="order-form-amount-title">Amount</div>
      <div class="order-form-amount-content">
        <input type="number" placeholder="0.0000">
        <span class="order-form-amount-coin">BTC</span>
      </div>
    </div>
    <div class="order-form-details">
      <div class="order-form-details-content order-size">
        <div class="order-form-details-title">
          <b>Size</b>
          <span>()</span>
          <b>=</b>
        </div>
      </div>
      <div class="order-form-details-content order-price">
        <div class="order-form-details-title">
          <b>Price</b>
          <span>()</span>
          <b>=</b>
        </div>
      </div>
      <div class="order-form-details-content order-fee">
        <div class="order-form-details-title">
          <b>Fees</b>
          <span>()</span>
          <b>=</b>
        </div>
      </div>
      <div class="order-form-details-content order-total">
        <div class="order-form-details-title">
          <b>Total</b>
          <span>()</span>
          <b>=</b>
        </div>
      </div>
    </div>
    <button class="create-order">PLACE AN ORDER</button>
  </form>
</div>