<div class="user-container">
    <div class="header-container">
      <div class="header">
        <nav class="navbar navbar-fix header-content">
          <div class="container-fluid">
            <div class="navbar-header header-view">
              <div class="text-name navbar-brand">
                <a routerLink="/home">HEX</a>
              </div>
            </div>
            <div class="header-menu">
              <ul class="nav nav-pills header-navbar header-view ">
                <li>
                  <a class="text-bold" routerLink="/trade" routerLinkActive="selected">Giao Dịch</a>
                </li>
                <li>
                  <a class="text-bold " routerLink="/deposit" routerLinkActive="selected">Nạp Tài Khoản</a>
                </li>
                <li>
                  <a class="text-bold " routerLink="/withdraw" routerLinkActive="selected">Rút Tiền</a>
                </li>
                <li>
                  <a class="text-bold " routerLink="/account" routerLinkActive="selected">Quản Lý Tài Khoản</a>
                </li>
              </ul>
              <div class="header-phone"></div>
              <form class="form-inline my-2 my-lg-0 header-form">
                <a class="btn btn-outline-success button-view" routerLink="/home">Đăng Xuất</a>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </div>
  <div class="user-content">
    <router-outlet></router-outlet>
  </div>
</div>