<div class="container-fix">
  <div class="banner-content">
    <div class="introdution height-fix">
      <div class="introdution-text banner-format">
        <div class="text-content">
          <div class="text-title">
            <span class="text-span">HỆ THỐNG TRAO ĐỔI,</span>
            <span class="text-span">MUA BÁN TIỀN ẢO</span>
          </div>
          <div class="text-subtitle">
            Website trao đổi, mua bán tiền ảo tốt nhất trên thị trường với các ưu điểm sau: 
          </div>
          <div class="text-tool">
            <ul>
              <li>
                <span>Mua (hoặc Bán) tiền ảo chỉ với 1 thao tác đơn giản</span>
              </li>
              <li>
                <span>Gửi - Rút tiền nhanh chóng, an toàn</span>
              </li>
              <li>
                <span>Giao dịch thuận tiện, không phức tạp</span>
              </li>
              <li>
                <span>Nền tảng đáng tin cậy, có tính thanh khoản cao</span>
              </li>
              <li>
                <span>Đảm bảo an ninh thông tin cho Khách Hàng</span>
              </li>
              <li>
                <span>Giao diện cung cấp khả năng đánh giá bao quát thị trường</span>
              </li>
              <li>
                <span>Hỗ trợ Khác Hàng 24/24</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="text-direct">
          <a class="btn btn-primary btn-lg button-view" routerLink="/register">Tạo Tài Khoản</a>
        </div>
      </div>
      <div class="introdution-img banner-format ">
        <img class="trade-image" src="/assets/introdution-image.png">
      </div>
    </div>
    <div class="type-order height-fix">
      <div class="banner-title banner-fix">
        <span style="font-family: Montserrat,Rubik,sans-serif;font-weight: 600;margin-bottom: 20px">Three Type Order You Can Trade !</span>
        <hr class="banner-hr">
      </div>
      <div class="type-order-function">
        <div class="type-order-market banner-fix">
          <div class="market-color function-fix">
            <span>Market Order</span>
          </div>
          <div class="order-tool">
            <ul>
              <li>
                <span>Information about Market Order</span>
              </li>
              <li>
                <span>How to set price for this order ?</span>
              </li>
              <li>
                <span>What can you do with this order type ?</span>
              </li>
              <li>
                <span>Value when use this order type</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="type-order-limit banner-fix">
          <div class="limit-color function-fix">
            <span>Limit Order</span>
          </div>
          <div class="order-tool">
            <ul>
              <li>
                <span>Information about Market Order</span>
              </li>
              <li>
                <span>How to set price for this order ?</span>
              </li>
              <li>
                <span>What can you do with this order type ?</span>
              </li>
              <li>
                <span>Value when use this order type</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="type-order-stop banner-fix">
          <div class="stop-color function-fix">
            <span>Stop Order</span>
          </div>
          <div class="order-tool">
            <ul>
              <li>
                <span>Information about Market Order</span>
              </li>
              <li>
                <span>How to set price for this order ?</span>
              </li>
              <li>
                <span>What can you do with this order type ?</span>
              </li>
              <li>
                <span>Value when use this order type</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="type-coin height-fix">
      <div class="banner-title banner-fix">
        <span style="font-family: Montserrat,Rubik,sans-serif;font-weight: 600; margin-bottom: 20px">CÁC LOẠI TIỀN ẢO MỞ GIAO DỊCH</span>
        <hr class="banner-hr">
      </div>
      <div class="type-coin-carousel">
        <div class="carousel-container">
          <ngx-carousel [inputs]="carouselCoinTile">
            <ngx-tile NgxCarouselItem *ngFor="let coin of carouselCoinItems">
              <div class="tile-image">
                <div class="coin-image" [style.background-image]="'url('+ coin.image +')'"></div>
                <div class="coin-logo" [style.background-image]="'url('+ coin.logo +')'">
                </div>
              </div>
              <div class="coin-name">
                <span>{{coin.name}}</span>
              </div>
              <div class="coin-map">
                <span class="price-current">Giá Hiện Tại</span>
                <span class="price-change">Giá Thay Đổi</span>
                <div class="coin-graphic">
                  <span style="padding: 10px 70px">BIỂU ĐỒ GIÁ</span>
                </div>
                </div>
            </ngx-tile>
            <button NgxCarouselPrev class='leftRs'>&lt;</button>
            <button NgxCarouselNext class='rightRs'>&gt;</button>
          </ngx-carousel>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>