<div class="container app-container">
  <div class="header">
    <nav class="navbar navbar-fix header-content">
      <div class="container-fluid">
        <div class="navbar-header header-view">
          <div class="text-name navbar-brand" >HEXCHANGE</div>
        </div>
        <div class="header-menu">
          <ul class="nav nav-pills header-navbar header-view ">
            <li>
              <a  class="text-bold" routerLink="/home" routerLinkActive="selected">Home</a>
            </li>
            <li>
              <a  class="text-bold " routerLink="/trade" routerLinkActive="selected">Market</a>
            </li>
            <li>
              <a class="text-bold " routerLink="/api" routerLinkActive="selected">API</a>
            </li>
            <li>
              <a class="text-bold " routerLink="/support" routerLinkActive="selected">Support</a>
            </li>
          </ul>
          <div class="header-phone">(+84)966 999 999</div>
          <form class="form-inline my-2 my-lg-0 header-form">
            <a class="btn btn-outline-success button-view" routerLink="/login">Sign in</a>
            <a class="btn btn-outline-danger button-view" routerLink="/register">Creat Account</a>
          </form>
        </div>
      </div>
    </nav>
  </div>
</div>