<div class="trade-container">
  <div class="trade-content">
    <div class="order-form">
      <div class="panel-header">
        <div class="panel-content">FORM GIAO DỊCH</div>
      </div>
      <div class="order-content">
        <app-order-form style="width: 100%; background: #3a444d"></app-order-form>
      </div>
    </div>
    <div class="market">
      <div class="order-book">
        <div class="panel-header">
          <div class="panel-content">KHO ĐƠN GIAO DỊCH</div>
        </div>
        <div class="order-content">
          <app-order-book style="width: 100%"></app-order-book>
        </div>
      </div>
      <div class="depth-chart">
        <div class="panel-header">
          <div class="panel-content">BIỂU ĐỒ GIÁ - PRICE CHART</div>
        </div>
        <div class="order-content">

        </div>
      </div>
      <div class="order-history">
        <div class="panel-header">
          <div class="panel-content">LỊCH SỬ TẠO ĐƠN - ORDER HISTORY</div>
        </div>
        <div class="order-content">
          <app-order-history></app-order-history>
        </div>
      </div>
    </div>
  </div>
</div>